h1{
    font-size: 60px;
}
h3{font-size: 60px;
color: #F30A0A;}

.familiaTexto{
    font-family: "papyrus";
    font-size: 2em;
    color:#0A1FF3;
    text-align: justify;

}
.bodyprincipal{
    background-color: gray;
}
.headerverde{
    background-color: chartreuse;
    
}
.headerazul{
    background-color: dodgerblue;
}
.imagenfondo{
    background-image: url(img/Medellin.jpg);
    height: 640px;
    background-attachment: fixed;
}
.textorojo{
    color:greenyellow;
}
